Library/
Library/

# Local Netlify folder
.netlify
Downloads/Firefox 131.0.dmg
Downloads/VSCode-darwin-universal.zip
Visual Studio Code.app/
.bash_sessions/
.bash_history
.nvm/
otakarakuta-collect/
otakarakuta-collection-new/
otakarakutasealwafercollection/
