/* ウエハースの移動速度 */
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-800px);
  }
}

/* ウエハースのスタイル */
.wafer {
  max-width: 200px;
  transition: transform 1s ease-out; /* ラグを短縮 */
}

.wafer.open {
  animation: moveUp 1s ease-out forwards;
}

/* シールのスタイル */
.sticker {
  width: 250px !important;
  height: auto !important;
  opacity: 1;
  position: absolute !important;
  left: 50%;
  top: 45%; /* シールの位置を調整 */
  transform: translate(-50%, -50%);
}

.sticker-container p {
  margin-top: 5px; /* シールとレアリティの間隔を詰める */
  color: gold;
  font-size: 1.2rem;
}

/* スマホ向けのスタイル調整 */
@media only screen and (max-width: 600px) {
  .wafer {
    max-width: 150px;
  }

  .sticker {
    width: 200px !important;
  }
}
